* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    position: relative;
}

header {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 256px;
    left: 0px;
    right: 0px;
    top: 0px;

    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;

    text-transform: uppercase;

    color: #000000;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: fixed; /* fixed keeps the footer anchored in place */
    width: 100%;
    height: 80px;
    bottom: 0px;
    background: #FFFFFF;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog-card{
    flex: none;
    flex-grow: 0;
    position: relative;
    margin: 32px 24px;
    width: 256px;
    height: 256px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    overflow: hidden; /* this makes sure the border radius of the card hides the content of the cards */
}

.label-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    position: absolute;
    padding: 16px;
    height: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.8) 100%);
}

.label-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.label-date{
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
}

.card-image{
    position: absolute;
    width: 256px;
    height: 256px;
    left: 0px;
    top: 0px;
}